<header class="page--header has-background-light{% if background_image %} has-background{% endif %}">
  {% if background_image %}
    <div class="page--header--background" style="background-image: url({{ background_image | img_url: '2000x2000' }})"></div>
  {% endif %}
  <div class="container">
    <h1 class="title">{{ title }}</h1>
    {% if subtitle %}
      <h2 class="subtitle">{{ subtitle }}</h2>
    {% endif %}
    {% if content %}
      <div class="content">{{ content }}</div>
    {% endif%}
  </div>
</header>