{{ section.settings.usage }}

{% schema %}
{
  "name": "Usage",
  "settings": [
    {
      "type": "richtext",
      "id": "usage",
      "label": "Usage Instructions"
    }
  ],
  "default": {
    "settings": {
      "usage": "<p>Consult a medical doctor before taking this or any other nutritional supplement if you are pregnant, nursing, have or suspect a medical condition, or are taking any medications. Store in a cool, dry place. KEEP OUT OF REACH OF CHILDREN.</p><p><em>†︎ THESE STATEMENTS HAVE NOT BEEN EVALUATED BY THE FOOD AND DRUG ADMINISTRATION. THIS PRODUCT IS NOT INTENDED TO DIAGNOSE, TREAT, CURE, OR PREVENT ANY DISEASE.</em></p>"
    }
  }
}
{% endschema %}