{% render 'page-header', title: collection.title, subtitle: collection.metafields.global.subtitle, background_image: collection.image %}
<section>
  <div class="container">
    {{ collection.content }}
  </div>
</section>
<section class="container">
  <div class="columns">
    {% paginate collection.products by 6 %}
      {% for product in collection.products %}
        <div class="column">
          {% render 'product-card', product: product %}
        </div>
      {% else %}
        <p>no matches</p>
      {% endfor %}
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %}
  </div>
</section>