.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $size-5 $size-7;
  background-color: $light;
  &.fullheight {
    height: calc(100vh - #{$navbar-height} + 1px);
  }

  .title {
    font-size: $size-3;
  }
  .subtitle {
    margin-top: 0.33em;
    font-size: $size-6;
    font-weight: $weight-normal;
  }
}

.hero--content {
  position: relative;
  text-align: center;
  .title, .subtitle, .hero--icon, .hero--actions {
    opacity: 0;
    animation: 1332ms slideUp #{$ease-quart-out} forwards;
  }
  @for $i from 1 through 4 {
    > *:nth-child(#{$i}) {
      animation-delay: 150ms * $i;
    }
  }
}

.hero--actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $size-5;
  max-width: 325px;
  > * {
    margin: $size-7 / 2;
  }
}

.hero--icon {
  margin: 0 auto;
  width: $size-2;
  height: $size-2;
  &.small {
    width: $size-3;
    height: $size-3;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(33px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}