.container {
  padding: $size-7;
  max-width: 1000px;
  margin: 0 auto;
}

.page--header {
  position: relative;
  text-align: center;
  padding: $size-5 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.has-background {
    min-height: 40vw;
  }

  .container {
    position: relative;
  }

  .title {
    font-size: $size-3;
    margin: 0;
  }

  .content,
  .subtitle {
    margin: $size-6 0 0 0;
  }

  .content p {
    margin-bottom: 0;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  > *:not(:last-child) {
    margin-bottom: $size-7;
  }
}