.container {
  padding: $size-7;
  max-width: 1200px;
  margin: 0 auto;
}

.page--header {
  position: relative;
  text-align: center;
  padding: $size-5 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.has-background {
    min-height: 40vw;
  }

  .container {
    position: relative;
  }

  .title {
    font-size: $size-3;
  }

  .content,
  .subtitle {
    margin: $size-8 0 0 0;
  }

  .content p {
    margin-bottom: 0;
  }


  @include desktop {
    &.has-background {
      min-height: 33vw;
    }
    .title {
      font-size: $size-2;
    }
  }
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  > *:not(:last-child) {
    margin-bottom: $size-7;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: calc(#{$size-8} * -1);
}

.column {
  $desktop-width: 33.3%;
  $tablet-width: 50%;
  width: 100%;
  max-width: 100%;
  padding: $size-8;
  @include tablet {
    width: $tablet-width;
    max-width: $tablet-width;
    flex: 1 0 $tablet-width;
  }
  @include desktop {
    width: $desktop-width;
    max-width: $desktop-width;
    flex: 1 0 $desktop-width;
  }
}