$white: var(--color-white);
$black: var(--color-black);
$dark: var(--color-dark);
$grey: var(--color-grey);

$primary: var(--color-primary);
$primary-highlight: var(--color-primary--highlight);

$secondary: var(--color-secondary);
$secondary-highlight: var(--color-secondary--highlight);
