$white: var(--shopify--color-white);
$black: var(--shopify--color-black);
$dark: var(--shopify--color-dark);
$light: var(--shopify--color-light);
$grey: var(--shopify--color-grey);

$primary: var(--shopify--color-primary);
$primary-invert: var(--shopify--color-primary--invert);
$primary-highlight: var(--shopify--color-primary--highlight);

$secondary: var(--shopify--color-secondary);
$secondary-invert: var(--shopify--color-secondary--invert);
$secondary-highlight: var(--shopify--color-secondary--highlight);

$link: var(--shopify--color-link);
$link-highlight: var(--shopify--color-link-hightlight);

$success: var(--shopify--color-success);

$colors: (
  primary: (
    color: $primary,
    invert: $primary-invert,
    highlight: $primary-highlight,
  ),
  secondary: (
    color: $secondary,
    invert: $secondary-invert,
    highlight: $secondary-highlight
  ),
  success: (
    color: $success,
    invert: $white,
    highlight: $success
  ),
  white: (
    color: $white,
    invert: $dark,
    highlight: $primary
  ),
  light: (
    color: $light,
    invert: $dark,
    highlight: $white
  ),
  dark: (
    color: $dark,
    invert: $light,
    highlight: $black
  )
);

$family-serif: var(--shopify--family-serif);
$family-sans-serif: var(--shopify--family-sans-serif);

$weight-normal: 300;
$weight-medium: 500;
$weight-bold: 700;

$size-1: var(--shopify--size-1);
$size-2: var(--shopify--size-2);
$size-3: var(--shopify--size-3);
$size-4: var(--shopify--size-4);
$size-5: var(--shopify--size-5);
$size-6: var(--shopify--size-6);
$size-7: var(--shopify--size-7);
$size-8: var(--shopify--size-8);

$radius: var(--shopify--radius);

$navbar-height: 4rem;

$ease-quart-out: cubic-bezier(0.25, 1, 0.5, 1);