@import "mixins";
@import "../node_modules/normalize.css/normalize";
@import "variables";
@import "utility";
@import "navbar";
@import "footer";
@import "hero";
@import "controls";
@import "layout";
@import "card";
@import "product";
@import "breadcrumbs";
@import "form";
@import "checkout";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: $family-sans-serif;
  font-weight: $weight-normal;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $link;
  transition: color 1s ease-in-out;
  &:hover {
    color: $link-highlight;
  }
}

figure {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart--button {
  display: inline-block;
  color: $white;
  width: 2rem;
  height: 2rem;
  &:hover {
    color: $primary-highlight;
  }
}

.title, .subtitle {
  line-height: 1.1;
  margin: 0;
  display: block;
}

.title {
  font-size: $size-4;
  font-family: $family-serif;
  font-weight: 300;
}

.subtitle {
  opacity: 0.65;
  font-weight: $weight-normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section.shopify-section {
  background-color: $light; 
  padding: $size-3 0;
  &:empty {
    display: none;
  }

  &.quote {
    background-color: $light;
    transition: opacity 2s ease-in-out;

    &:not(.is-intersecting) {
      opacity: 0;
    }

    &.is-intersecting {
      opacity: 1;
    }

    blockquote {
      color: $dark-grey;
      margin: $size-6;
      p {
        font-size: $size-5;
        font-family: $family-serif;
        opacity: 0.85;
      }
      footer {
        font-family: $family-sans-serif;
        .author {
          font-weight: $weight-bold;
          font-size: $size-6;
        }
        cite {
          font-size: $size-7;
          margin-top: 0.33em;
          display: block;
          font-weight: $weight-normal;
          font-style: normal;
        }
      }
      @include desktop {
        p {
          font-size: $size-3
        }
        footer {
          .author {
            font-size: $size-5;
          }
          .cite {
            font-size: $size-6;
          }
        }
      }
    }
  }
}

.bg-filter {
  filter: grayscale(100%) contrast(50%) brightness(125%) sepia(50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-size: cover;
  background-position: center;
}

.delete {
  $size: $size-6;
  $line-width: 2px;
  opacity: 0.333;
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;
  overflow: hidden;
  text-indent: -99999px;
  background-color: $grey;
  border-radius: 100%;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 0.666;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: $white;
    width: 66%;
    height: $line-width;
    border-radius: $line-width;
    top: calc(50% - #{$line-width / 2});
    left: calc((100% - 66%) / 2);
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

}

.shopify-policy__container {
  padding: $size-3 0;
  font-size: $size-7;
  line-height: 1.5;
}
.shopify-policy__title {
  font-family: $family-serif;
  font-weight: $weight-bold;
  text-transform: capitalize;
}
.shopify-policy__body {
  h1, h2, h3, h4, h5 {
    font-family: $family-serif;
    font-weight: $weight-bold;
  }
}

shopify-add-to-cart {
  max-width: 400px;
}