@import "../node_modules/normalize.css/normalize";
@import "variables";
@import "navbar";
@import "footer";
@import "hero";
@import "controls";
@import "layout";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: $family-sans-serif;
}

p {
  margin-top: 0;
}

.shopping-cart--button {
  display: inline-block;
  color: $white;
  width: 2rem;
  height: 2rem;
  &:hover {
    color: $primary-highlight;
  }
}

.title {
  font-family: $family-serif;
  font-weight: 300;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}