@import "../node_modules/normalize.css/normalize";
@import "variables";
@import "utility";
@import "navbar";
@import "footer";
@import "hero";
@import "controls";
@import "layout";
@import "card";
@import "product";
@import "breadcrumbs";
@import "form";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: $family-sans-serif;
  font-weight: $weight-normal;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: color 1s ease-in-out;
  &:hover {
    color: $secondary-highlight;
  }
}

figure {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart--button {
  display: inline-block;
  color: $white;
  width: 2rem;
  height: 2rem;
  &:hover {
    color: $primary-highlight;
  }
}

.title, .subtitle {
  line-height: 1.1;
  margin: 0;
  display: block;
}

.title {
  font-size: $size-4;
  font-family: $family-serif;
  font-weight: 300;
}

.subtitle {
  opacity: 0.65;
  font-weight: $weight-normal;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

section.shopify-section {
  background-color: $light; 
  padding: $size-3 0;
  &:empty {
    display: none;
  }

  &.quote {
    background-color: $light;
    transition: opacity 2s ease-in-out;

    &:not(.is-intersecting) {
      opacity: 0;
    }

    &.is-intersecting {
      opacity: 1;
    }

    blockquote {
      color: $grey;
      margin: $size-6;
      p {
        font-size: $size-5;
        font-family: $family-serif;
        opacity: 0.85;
      }
      footer {
        font-family: $family-sans-serif;
        .author {
          font-weight: $weight-bold;
          font-size: $size-6;
        }
        cite {
          font-size: $size-7;
          margin-top: 0.33em;
          display: block;
          font-weight: $weight-normal;
          font-style: normal;
        }
      }
    }
  }
}

.bg-filter {
  filter: grayscale(100%) contrast(50%) brightness(125%) sepia(50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-size: cover;
  background-position: center;
}